* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    max-width: 1080px;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: black;
}

body {
    max-width: 1080px;
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: black;
}

h1 {
    font-weight: bolder;
    color: white;
}

#map {
    height: 90%;
    padding-bottom: -80%;
}

.button {
    min-width: 48px;
    min-height: 48px;
    border-style: outset;
    border-width: medium;
    border-color: black;
}

.item-container {
    background-color: gray;
    position: absolute;
    margin-top: -350px;
    height: 40%;
    width: 80%;
    max-width: 600px;
}

.item-info {
    color: black;
    font-size: 20px;
}

.item-info-label {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.item-x {
    color: black;
    margin-top: 3%;
    font-size: 25px;
    font-weight: bold;
    padding-right: 7%; 
    text-align: right;
}

.list-rest {
    text-align: center;
    font-weight: bold;
    background: gray;
    color: white;
    padding: 10px;
}

.menu {
    background-color: lightgray;
    height: 90%;
    overflow-y: scroll;
}

.menu-plus {
    text-align: center;
}

.menu-toggle {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    background-color: darkgray;
}

.menu-x {
    text-align: right;
    margin-bottom: 3%;
}

.rest-name {
    color: white;
    text-shadow: -3px 2px black;
    font-weight: bold;
}

.rating {
    font-size: 15px;
    font-weight: 500;
}

.sort-by-title {
    color: white;
}

.spread-ddl {
    min-height: 48px;
    font-size: 20px;
}

.spread-title {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.title {
    font-size: 26px;
    text-align: center;
}